
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Stack</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="@Url.Action("Index", "Home")">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="@Url.Action("Index", "Stack")">Stack <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="@Url.Action("Index", "Queue")">Queue</a>
                <a class="nav-item nav-link" href="@Url.Action("Index", "Dictionary")">Dictionary</a>
                <a class="nav-item nav-link" href="@Url.Action("Exit", "Home")">Exit</a>
            </div>
        </div>
    </nav>

    <div class="overlay"></div>

    <div class="container">
        <div class="jumbotron">
            <h2>My Stack</h2>
            <p>
                Manipulate my stack below by pushing the buttons.
                The stack will then be displayed below
            </p>
        </div>
        <div class="container">
            <div class="col-md-4">
                <ul>
                    <li><a href="@Url.Action("AddOne", "Stack")" class="w3-bar-item w3-button">Add One</a></li>
                    <li><a href="@Url.Action("AddHuge", "Stack")" class="w3-bar-item w3-button">Add Huge List</a></li>
                    <li><a href="@Url.Action("Display", "Stack")" class="w3-bar-item w3-button">Display Stack</a></li>
                    <li><a href="@Url.Action("Delete", "Stack")" class="w3-bar-item w3-button">Delete from Stack</a></li>
                    <li><a href="@Url.Action("Clear", "Stack")" class="w3-bar-item w3-button">Clear Stack</a></li>
                    <li><a href="@Url.Action("Search", "Stack")" class="w3-bar-item w3-button">Search Stack</a></li>
                    <li><a href="@Url.Action("ReturnHome", "Stack")" class="w3-bar-item w3-button">Return to Main Menu</a></li>
                </ul>
            </div>
        </div>
        <div class="col col-md-8">
            @if (ViewBag.Mystack == null)
        {

        }
        else
        {
            foreach (var sData in ViewBag.MyStack)
            {
                <p>@sData</p>
        }
    }
            <p>@ViewBag.Clear</p>
            <p>@ViewBag.Search</p>
            <p>@ViewBag.Time</p>
        </div>

            
    </div>
</body>
</html>