
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Queue</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="@Url.Action("Index", "Home")">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="@Url.Action("Index", "Stack")">Stack <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="@Url.Action("Index", "Queue")">Queue</a>
                <a class="nav-item nav-link" href="@Url.Action("Index", "Dictionary")">Dictionary</a>
                <a class="nav-item nav-link" href="@Url.Action("Exit", "Home")">Exit</a>
            </div>
        </div>
    </nav>

    <div class="overlay"></div>

    <div class="container">
        <div class="jumbotron">
            <h2>My Queue</h2>
            <p>
                Manipulate our queue below by pushing the buttons.
                The queue will then be displayed below
            </p>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-6">

            <a href="@Url.Action("AddOne", "Queue")" class="w3-bar-item w3-button">Add One</a>
            <a href="@Url.Action("AddHuge", "Queue")" class="w3-bar-item w3-button">Add Huge List</a>
            <a href="@Url.Action("Display", "Queue")" class="w3-bar-item w3-button">Display Queue</a>
            <a href="@Url.Action("Delete", "Queue")" class="w3-bar-item w3-button">Delete from Queue</a>
            <a href="@Url.Action("Clear", "Queue")" class="w3-bar-item w3-button">Clear Queue</a>
            <a href="@Url.Action("Search", "Queue")" class="w3-bar-item w3-button">Search Queue</a>
            <a href="@Url.Action("ReturnHome", "Queue")" class="w3-bar-item w3-button">Return to Main Menu</a>

        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="container">
        <div class="col col-md-6">
            @if (ViewBag.MyQueue == null)
            {

            }
            else
            {
                foreach (var qData in ViewBag.MyQueue)
                {
                    <p>@qData</p>
                }
            }
        </div>

        <div class="col-md-6">
            <p>@ViewBag.Clear</p>
            <p>@ViewBag.Search</p>
            <p>@ViewBag.Time</p>
        </div>
    </div>
</body>
</html>
