<!-- This is the View for the Dictionary controller
     Created by Nate Turner 10-15-18 -->

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dictionary</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="@Url.Action("Index", "Home")">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="@Url.Action("Index", "Stack")">Stack <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="@Url.Action("Index", "Queue")">Queue</a>
                <a class="nav-item nav-link" href="@Url.Action("Index", "Dictionary")">Dictionary</a>
                <a class="nav-item nav-link" href="@Url.Action("Exit", "Home")">Exit</a>
            </div>
        </div>
    </nav>

    <div class="overlay"></div>

    <div class="container py-3">
        <div class="jumbotron">
            <h2>Our Dictionary</h2>
            <p>
                Manipulate our dictionary below by pushing the buttons.
            </p>
        </div>
        <div class="container">
            <div class="row content py-3">
                <div class="col-sm-3 content-div sidebar mr-5">
                    <ul>
                        <li>
                            <a href="@Url.Action("AddOne", "Dictionary")">Add one item to Dictionary</a>
                        </li>
                        <li>
                            <a href="@Url.Action("AddHuge", "Dictionary")">Add Huge List of Items to Dictionary</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Display", "Dictionary")">Display Dictionary</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Delete", "Dictionary")">Delete from Dictionary</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Clear", "Dictionary")">Clear Dictionary</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Search", "Dictionary")">Search Dictionary</a>
                        </li>
                        <li>
                            <a href="@Url.Action("ReturnHome", "Dictionary")">Return to Main Menu</a>
                        </li>
                    </ul>
                </div>

                <div class="col-sm-8 content-div display-div">
                    @if (ViewBag.MyDictionary == null)
                    {

                    }
                    else
                    {
                        foreach (var dData in ViewBag.MyDictionary)
                        {
                            <p>@dData</p>
                        }
                    }

                    <p>@ViewBag.Display</p>
                    <p>@ViewBag.Delete</p>
                    <p>@ViewBag.Clear</p>
                    <p>@ViewBag.Search</p>
                    <p>@ViewBag.Time</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
